@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
/* Define styles for light theme */
.light-theme {
  background-color: #ffffff;
  color: #000000;
}

/* Define styles for dark theme */
.dark-theme {
  background-color: #1f2023;
  color: #ffffff;

  .input-theme {
    background-color: #1c2130;
  }
}

.backg {
  background-color: #26282c;

}

.nav {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.2), 0 1px 5px 0 rgba(0,0,0,0.12);
}