@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

/* Add this CSS to your component's CSS or a separate CSS file */
/* Style the main scrollbar */
::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

/* Style the track (the area behind the thumb) */
::-webkit-scrollbar-track {
  background: rgb(255, 253, 253); /* Color of the track */
}

/* Style the thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background: #cdcdcd; /* Color of the thumb */
  border-radius: 6px; /* Rounded corners for the thumb */
}

/* Change the appearance on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color on hover */
}